.footer {
  background-color: #08664F;
}
.footer__wrap {
  display: flex;
  padding: 59px 0;
  justify-content: space-between;
}
.footer__nav-list {
  display: flex;
  gap: 30px;
}
.footer__nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
  transition: all 0.1s ease-in;
}
.footer__nav-link:hover {
  color: #eeeaea;
}
.footer__social-link {
  margin-right: 15px;
}
.header__top {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-address {
  font-size: 14px;
}
.header__top-address--city {
  position: relative;
  color: #364844;
}
.header__top-address--city::before {
  content: "";
  position: absolute;
  background-image: url("../img/pin.svg");
  width: 20px;
  height: 20px;
  left: -22px;
}
.header__top-address--street {
  color: #868686;
}
.header__top-tel {
  display: flex;
  align-items: center;
}
.header__top-tel--text {
  font-size: 16px;
  color: #364844;
  padding-left: 9px;
}
.header__top-btn {
  color: #fff;
  font-size: 14px;
  background-color: #0dbc91;
  border-radius: 50px;
  transition: all 0.3s ease-in;
  padding: 11px 24px;
}
.header__top-btn:hover {
  background-color: #00d29f;
}
.header__nav {
  background-color: #1FA181;
}
.header__nav-list {
  display: flex;
  gap: 30px;
}
.header__nav-item {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
  transition: all 0.1s ease-in;
}
.header__nav-item:hover {
  color: #eeeaea;
}
.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: #F8FBFA;
}
.hero__image {
  position: absolute;
  right: 0;
  height: auto;
  margin-left: -10px;
}
.hero__wrap {
  padding: 160px 0;
  color: #364844;
}
.hero__wrap-title {
  font-weight: 700;
  font-size: 36px;
  width: 30%;
  margin-bottom: 14px;
}
.hero__wrap-text {
  font-size: 16px;
  line-height: 24px;
  width: 30%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  align-items: center;
}
.modal__content {
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  color: #364844;
  position: relative;
}
.modal__content-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.modal__content-close:hover {
  color: #0d0e0e;
}
.modal__content-title {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}
.modal__content-form {
  display: flex;
  flex-direction: column;
}
.modal__content-label {
  font-size: 24px;
  margin-bottom: 12px;
}
.modal__content-input {
  border: 1px solid #364844;
  font-size: 24px;
  border-radius: 5px;
  padding: 2px 6px;
  margin-bottom: 24px;
}
.modal__content-sent {
  color: #fff;
  font-size: 14px;
  background-color: #0dbc91;
  border-radius: 50px;
  transition: all 0.3s ease-in;
  align-self: center;
  padding: 11px 24px;
}
.modal__content-sent:hover {
  background-color: #00d29f;
}
@charset "UTF-8";
.services {
  padding-top: 100px;
}
.services__slider {
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
}
.services__slider-btns {
  padding-top: 34px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.services__slider-btns--number {
  padding: 0 36px;
  font-size: 18px;
  color: #364844;
}
.services__slider-btns--number span {
  color: #C0C0C0;
}
.services__slider-btns--btnleft svg, .services__slider-btns--btnright svg {
  fill: #E1E1E1;
}
.services__slider-btns--btnleft svg:hover, .services__slider-btns--btnright svg:hover {
  fill: #0dbc91;
  transition: fill 0.3s;
}
.services__slide {
  display: flex;
  background-color: #e2f0ef;
  justify-content: space-between;
  color: #364844;
  border-radius: 5px;
}
.services__slide-text {
  padding: 56px 63px;
  position: relative;
}
.services__slide-text--title {
  font-size: 38px;
  font-weight: 700;
}
.services__slide-text--subtitle {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}
.services__slide-text--list {
  margin-bottom: 33px;
}
.services__slide-text--list li {
  font-size: 16px;
  margin-bottom: 10px;
}
.services__slide-text--list li::before {
  content: "•";
  color: #1FA181;
  margin-right: 9px;
}
.services__slide-text--price {
  font-size: 20px;
  color: #364844;
}
.services__slide-text--oldprice {
  font-size: 16px;
  color: #868686;
  text-decoration: line-through;
  margin-left: 16px;
}
.services__slide-btns {
  margin-top: 37px;
  display: flex;
}
.services__slide-btns--cta {
  color: #fff;
  font-size: 14px;
  background-color: #0dbc91;
  border-radius: 50px;
  transition: all 0.3s ease-in;
  padding: 11px 59px;
}
.services__slide-btns--cta:hover {
  background-color: #00d29f;
}
.services__slide-btns--details {
  color: #0dbc91;
  font-size: 14px;
  background-color: transparent;
  border-radius: 50px;
  transition: all 0.3s ease-in;
  border: 1px solid #0dbc91;
  padding: 11px 59px;
  margin-left: 14px;
}
.services__slide-btns--details:hover {
  background-color: #0dbc91;
  color: #fff;
}
.services__slide-img {
  -webkit-clip-path: polygon(6% 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(6% 0, 100% 0, 100% 100%, 25% 100%);
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=PT+Sans+Caption&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Manrope", sans-serif;
  font-family: "PT Sans Caption", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
