@use "variables";
@use "mixins";
.header {
  &__top {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-wrap {
      display: flex;
    }
    &-address {
      font-size: 14px;
      margin-left: 41px;
      &--city {
        position: relative;
        color: variables.$primary-text-color;
        &::before {
          content: "";
          position: absolute;
          background-image: url("../img/pin.svg");
          width: 20px;
          height: 20px;
          left: -22px;
        }
      }
      &--street {
        color: variables.$secondary-text-color;
      }
    }

    &-tel {
      display: flex;
      align-items: center;
      margin-right: 35px;
      &--text {
        font-size: 16px;
        color: variables.$primary-text-color;
        padding-left: 9px;
      }
    }

    &-btn {
      @include mixins.greenButton;
      padding: 11px 24px;
    }
  }

  &__nav {
    background-color: variables.$header-color;

    &-list {
      @include mixins.navlist;
    }

    &-item {
      @include mixins.navitem;
    }
  }
}

@media (max-width: 670px) {
  .header__desktop {
    display: none;
  }

  .header__mobile {
    display: flex;
    padding: 20px;
    align-items: center;
    // justify-content: space-around;
    &-burger {
      &--bar {
        width: 37px;
        height: 4px;
        margin-bottom: 7px;
        background-color: variables.$header-color;
      }
    }

    &-logo {
      margin-left: 43px;
      width: 62px;
      height: 18px;
    }

    &-contacts {
      margin-left: 59px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &--tel {
        font-size: 16px;
        font-weight: 700;
        color: variables.$primary-text-color;
      }

      &--city {
        font-size: 13px;
        color: variables.$primary-text-color;
      }
    }

    &-menu {
      background-color: rgba(69, 146, 127, 0.9);
      color: #fff;
      position: absolute;
      top: 60px;
      left: -100%;
      width: 100%;
      height: 100vh;
      transition: left 0.3s ease-in-out;
    }

    &-nav {
      padding: 20px;
    }

    &-item {
      padding: 10px 0;
    }

    &-link {
      color: #fff;
      font-size: 16px;
    }

    &-menu--btn {
      font-size: 14px;
      color: rgb(69, 146, 127);
      padding: 11px 24px;
      background-color: #fff;
      border-radius: 50px;
      cursor: pointer;
      margin: 20px;
    }

    &-menu.active {
      left: 0;
    }
  }


  .header__mobile-burger.active .header__mobile-burger--bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .header__mobile-burger.active .header__mobile-burger--bar:nth-child(2) {
    opacity: 0;
  }
  
  .header__mobile-burger.active .header__mobile-burger--bar:nth-child(3) {
    transform: rotate(45deg) translate(-10px, -10px);
  }
}
@media (min-width: 670px) {
  .header__mobile, .header__mobile-menu {
    display: none;
  }
}
