@use "variables";

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: #F8FBFA;
  &__image {
    position: absolute;
    right: 0;
    height: auto;
    margin-left: -10px;
  }

  &__wrap {
    padding: 160px 0;
    color: variables.$primary-text-color;
    &-title {
       
        font-weight: 700;
        font-size: 36px;
        width: 30%;
        margin-bottom: 14px;
    }
    &-text {
        font-size: 16px;
        line-height: 24px;
        width: 30%;

    }
  }
}


@media(max-width:1470px) {
  .hero__image {
    position: relative;
  }
  .hero__wrap {
    padding: 160px 30px;
  }
  .hero__wrap-title, .hero__wrap-text {
    width: 100%;
  }
}

@media(max-width: 840px) {
  .hero {
    flex-direction: column-reverse;
    &__wrap {
      padding: 35px;
      &-title {
        font-size: 24px;
      }
      &-text {
        font-size: 14px;
      }
    }
    &__image {
      margin-left: 0;
    }
  }
}


@media(max-width: 670px) {
  .hero {
    z-index: -1;
  }
}