@use "variables";
.services {
  padding-top: 100px;

  &__slider {
    margin-bottom: 92px;
  }
  &__slide {
    display: flex;
    background-color: #e2f0ef;
    justify-content: space-between;
    color: variables.$primary-text-color;
    &-text {
      padding: 56px 63px;
      position: relative;
      z-index: 1;
      clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
      &--title {
        font-size: 38px;
        font-weight: 700;
      }
      &--subtitle {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 16px;
      }

      &--list li {
        font-size: 16px;
        margin-bottom: 10px;
        &::before {
          content: "\2022";
          color: variables.$header-color;
          margin-right: 9px;
        }
      }
    }

    &-img {
        flex: 1;
        position: relative;
        z-index: 0;
    }
  }
}
